html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    font-family: sans-serif;
    overflow: hidden;
}

.image-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 900px;
    height: auto;
    justify-content: center;
    align-items: center;
}


.canvas {
    display: block;
    width: 100%;
    height: auto;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    transition: 0.25s ease all 0.75s;
    color: #999;
    transform: translateZ(50px);
}

.loading-screen.hidden {
    visibility: hidden;
    opacity: 0;
}

/* Optional: Responsive overrides */
@media only screen and (max-width: 600px) {
    .image-container {
        width: 90vw;
        height: 90vw;
    }
}

@media only screen and (max-width: 380px) {
    .image-container {
        width: 85vw;
        height: 85vw;
    }
}
